* {
    margin: 0;
    padding: 0;
}
body {
    display: grid;
    grid-template-columns: 15% 35% 35% 15%;
    grid-template-rows: 10% 10% 60% 20%;
    width: 100%;
    height: 100vh;
}
ul {
    display: flex;
    /*justify-content: space-around;*/
    list-style: none;

}

.main-header {
    grid-area: 1 / 2 / 2 / 4;
    display: flex;
    align-items: center;

}
.main-header .logo {
    margin-right: auto;
}
.about {
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.sign-up {
    grid-area: 2 / 3 / 3 / 4;

}