* {
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-rows: 15% 80%;
}
.main-header {
    background: yellow;
}
.main-content {
    background: red;
    display: grid;
    grid-template-columns: 1fr repeat(2, 2fr) 1fr;

}

.left-column {
    background: blue;
}
.about {
    background: purple;
}
.sign-up {
    background: pink;
}
.right-column {
    background: orange;
}