html, body {
    margin: 0;
    height: 100%;
}


h1 {
    color: white;
    margin: .2em;
    margin-top: .5em;
}

hr {
    color: white;
}







.side-header {
    background: black;
    width: 20em;
    height: 100%;
}

img {
    height: 10em;
    width: auto;
    margin: auto;


}